.expense-filter__control{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    margin: 1rem;
    color: white;
    
}

label{
    font-weight: bold;
}

select{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color:aquamarine;
}